<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.chinaece.gaia"
    android:versionCode="9"
    android:versionName="1.8" 
    android:launchMode="singleInstance" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">
    </uses-permission>

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name">
        <activity
            android:label="@string/app_name"
            android:name=".gui.GaiaActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.MainActivity" android:launchMode="singleTop"></activity>
        <activity android:name=".gui.PendingsActivity" android:launchMode="singleTop"></activity>
        <activity android:name=".gui.DocumentActivity" android:launchMode="singleTop"></activity>
        <activity android:name=".gui.WeatherActivity"></activity>
        <activity android:name=".gui.ContactsActivity"></activity>
        <activity android:name=".gui.ContactActivity"></activity>
        <activity android:name=".gui.FlowPathActivity"></activity>
        <activity android:name=".gui.FilesActivity"
            android:label="文件管理" android:debuggable="true"></activity>
       <service 
            android:name=".service.PendingService">
            <intent-filter>
                <action android:name="com.chinaece.gaia.service.PendingService" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
            
        </service>
        <receiver android:name=".util.ServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".gui.AboutActivity"></activity>
        <activity android:name=".gui.BossTrackingsActivity"></activity>
        <activity android:name=".gui.TrackActivity"></activity>
        <activity android:name=".gui.CalendarActivity"></activity>
        <activity android:name=".gui.LogItemActivity"></activity>
    </application>

</manifest>
